<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
</head>
<body>
    <h1>Main Menu</h1>
    <a href="{% url 'patient_search' %}">Patient Search</a>
    <a href="{% url 'doctor_search' %}">Doctor Search</a>
    <a href="{% url 'prescription_search' %}">Prescription Search</a>
    <a href="{% url 'appointment_search' %}">Appointment Search</a>
    <a href="{% url 'Appointment_Schedulee' %}">Appointment_Schedulee</a>
    <a href="{% url 'Patinet_Record' %}">Patinet_Record</a>
    <a href="{% url 'Doctor_Record' %}">Doctor_Record</a>
    <a href="{% url 'Prescription_Record' %}">Prescription_Record</a>
</body>
</html>